<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login and Registration</title>
        <style media="screen">
            .error{
                color:red;
            }
            .success{
                color:green;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <fieldset class='container'>
            <legend>Registration</legend>
            <form action="/process/" method="post" class='container'>
                {% csrf_token %}
                <label>
                    <p>Name: <input type="text" name="name"></p>
                </label>
                <label>
                    <p>Username: <input type="text" name="username"></p>
                </label>
                <label>
                    <p>Password: <input type="password" name="password"></p>
                </label>
                <p>* Password must be atleast 8 characters!</p>
                <label>
                    <p>Confirm Password: <input type="password" name="confirm_password"></p>
                </label>
                <br>
                <input type="submit" value="Register">
            </form>
        </fieldset>
        <fieldset class='container'>
            <legend>Login</legend>
            <form action="/login/" method="post" class='container'>
                {% csrf_token %}
                <label>
                    <p>Username: <input type="text" name="username"></p>
                </label>
                <label>
                    <p>Password: <input type="password" name="password"></p>
                </label>
                <br>
                <input type="Submit" value="Login">
            </form>
        </fieldset>
    </body>
</html>
